.idea
.venv
staticfiles
db.json
curl.sh
response.html

/monument_hunting/.env

/players/migrations/*
!/players/migrations/__init__.py

/players_riddles/migrations/*
!/players_riddles/migrations/__init__.py

/monuments/migrations/*
!/monuments/migrations/__init__.py

/riddles/migrations/*
!/riddles/migrations/__init__.py

/zones/migrations/*
!/zones/migrations/__init__.py

